:root {
    --highlight-color: gold;
    --non-highlight-color: black;
    --matches-color: green;
    --non-matches-color: gray;
    --key-color: gray;
    --key-text-color: white;
}

html,body {
    margin: 0;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.grid {
    margin: auto;
    display: grid;
    padding: 10px;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 5px;
    box-sizing: border-box;
}

.grid-row {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px;
}

.letter {
    min-width: 20px;
    min-height: 20px;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
    border-width: 2px;
    border-style: solid;
}

.game-keyboard-row {
    display: flex;
    margin-bottom: 5px;
    vertical-align: bottom;
}

.game-keyboard-row:last-of-type {
    margin-bottom: 0;
}

.key {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: var(--key-color);
    color: var(--key-text-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.key:last-of-type {
    margin: 0;
}

.point-five {
    flex: 0.5;
}

.one-point-five {
    flex: 1.5;
}

#win-msg {
    z-index: 1;
    margin: 10% auto;
    position: relative;
}